@media (max-width: 1440px) {


}

@media (max-width: 1366px) {

}

@media (max-width: 1340px) {

}

@media (max-width: 1200px) {
  .main__content {
    padding-top: calc(75px + (178 - 75) * ((100vw - 320px) / (1200 - 320)));
  }
  .main__descr {
    h1 {
      font-size: calc(40px + (87 - 40) * ((100vw - 320px) / (1200 - 320)));
    }
    h2 {
      font-size: calc(35px + (78 - 35) * ((100vw - 320px) / (1200 - 320)));
    }
    span {
      font-size: calc(13px + (24 - 13) * ((100vw - 320px) / (1200 - 320)));
    }
  }
}

@media (max-width: 1040px) {
  .page-title h2 {
    font-size: 100px;
  }

  .services__refit {
    max-width: 1040px;
    width: 34%;
  }

  .services__refit-content {
    padding-left: 22px;
  }

  .services__repair {
    max-width: 1040px;
    width: 70%;
  }

  .services__repair-content {
    padding-left: 120px;
  }

  .advantages__content {
    width: 70%;
  }

  .advantages__label {
    top: unset;
    bottom: 0;
    left: 0;
    width: 100%;
  }

  .advantages__img {
    top: 0;
    width: 35%;
    background-position: -160px -55px;
  }
}

@media (max-width: 768px) {
  .page-title h2 {
    font-size: 56px;
  }
  .services__repair-content {
    padding-left: 101px;
  }
  .services__refit {
    max-width: 768px;
    width: 34%;
    height: 548px;
  }
  .services__repair {
    max-width: 768px;
    width: 71%;
    height: 548px;
  }
  .services__inner .services-title {
    font-size: 27px;
  }
}

@media (max-width: 700px) {
  .services {
    height: unset;
  }
  .services__inner {

  }
  .services__refit {
    position: static;
    width: 100%;
    height: auto;
    border-radius: 0;
    box-shadow: none;
  }
  .services__refit-content {
    width: auto;
    margin: 0;
    padding: 32px 0 0 22px;
  }
  .services__repair {
    position: static;
    width: 100%;
    height: auto;
    border-radius: 0;
    box-shadow: none;
  }
  .services__repair-content {
    width: auto;
    margin: 0;
    padding: 53px 0 30px 22px;
  }
  .repair-width {
    display: block;
  }
  .advantages__inner {
    height: unset;
  }

  .advantages__content {
    position: static;
    width: 100%;
    height: 100%;
    border-radius: 0;
  }

  .advantages__list {
    margin: auto auto;
    width: 100%;
    height: 100%;
  }

  .advantages__img {
    position: relative;
    width: 100%;
    background-position: -100px -150px;
  }
}
@media (max-width: 480px) {
  .page-title h2 {
    font-size: 36px;
  }
  .main {
    background-position: -866px -100px;
  }
  .default {
    height: 80px;
  }
  .main__contacts {
    flex-direction: column-reverse;
    margin-bottom: 45px;
  }
  .main__contacts-numbers {
    padding: 0 20px 10px 20px;
  }
  .main__contacts-btn {
    max-width: 440px;
    width: 100%;
  }
}

@media (max-width: 400px) {
  .default {
    height: 60px;
  }
}

@media (max-width: 320px) {
  .page-title h2 {
    font-size: 30px;
  }
  .main__contacts-numbers {
    display: flex;
    font-size: 14px;
    justify-content: space-around;
  }
}