@import "vars";
@import "libs";
@import "fonts";
@import "global";


.header {
  position: static;
  top: 0;
  width: 100%;
  background-color: $black;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
}

.header__logo {
}

.header__menu {
}

.header__list {
  display: flex;
  justify-content: space-between;
  li {
    margin-left: 55px;
    a {
      color: #fff;
    }
  }
}

.main {
  background-image: url(../img/main.jpg);
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
}

.main__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  padding-top: 178px;
}

.main__descr {
  h1 {
    margin: 0;
    font-weight: bold;
    font-size: 87px;
    color: #fff;
    letter-spacing: 0.02em;
    text-shadow: 3px 3px 10px rgba(64, 64, 64, 0.7);
    word-wrap: break-word;
  }
  h2 {
    margin: 0;
    font-weight: bold;
    font-size: 78px;
    color: #fff;
    letter-spacing: 0.02em;
    text-shadow: 3px 3px 10px rgba(64, 64, 64, 0.7);
  }
  span {
    display: block;
    font-size: 24px;
    margin-top: 30px;
  }
}

.main__contacts {
  display: flex;
  margin-bottom: 180px;
}

.main__contacts-btn {
  width: 220px;
  height: 55px;
  background-color: $blue;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 6px;
  a {
    display: block;
    padding-top: 19px;
    font-weight: 900;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #CCCCCC;
    letter-spacing: 0.08em;
    button {
      padding: 0;
      border: none;
      font: inherit;
      color: inherit;
      background-color: transparent;
      cursor: pointer;
    }
  }
}

.main__contacts-numbers {
  padding: 0 20px;
  span {
    display: block;
    color: #CCCCCC;
  }
}

// SERVICES

.services {
  position: relative;
  height: 780px;
  margin-bottom: 70px;
}

.services-title {
  font-weight: bold;
  font-size: 33px;
  color: $black;
  h3 {
    margin: 0;
  }
}

.services__inner {
  position: relative;
  height: 100%;
}

.services__refit {
  position: absolute;
  z-index: 2;
  max-width: 1920px;
  width: 41%;
  height: 510px;
  left: 0;
  top: -35px;
  background: #fff;
  border-radius: 16px;
  box-shadow: 2px 3px 3px rgba(64, 64, 64, 0.25);
}

.services__refit-content {
  width: 220px;
  margin: 33px 149px auto auto;
  padding-left: 10px;
}

.services__repair {
  position: absolute;
  right: 0;
  z-index: 1;
  max-width: 1920px;
  width: 61%;
  height: 510px;
  background: #fff;
  border-radius: 16px;
  box-shadow: 0 3px 5px rgba(64, 64, 64, 0.5);
}

.services__repair-content {
  padding-top: 31px;
  padding-left: 164px;
}

.services-items{

}

.services-item {
  display: flex;
  align-items: center;
  margin-top: 40px;
  padding-right: 40px;
}

.services-item__img {
  width: 40px;
  height: 40px;
}

.services-item__text {
  margin-left: 20px;
}

.repair-width {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
}

.services-item:nth-child(2n) {
  //justify-self: right;
}

// ADVANTAGES

.advantages {
  position: relative;
  height: 100%;
}

.advantages__inner {
  position: relative;
  margin-bottom: 73px;
  height: 700px;
}

.advantages__content {
  position: absolute;
  left: 0;
  max-width: 1920px;
  width: 61%;
  height: 576px;
  background: #fff;
  border-top-right-radius: 16px;
  border-bottom-right-radius: 16px;
  box-shadow: 0 3px 5px rgba(64, 64, 64, 0.5);
}

.advantages__list {
  width: 519px;
  height: 500px;
  padding-left: 10px;
  margin: 28px 285px auto auto;
  &-item + li {
    margin-top: 20px;
  }
}

.advantages__list-title {
  font-weight: bold;
  line-height: 19px;
  span {
    padding-right: 8px;
    font-weight: bold;
    font-size: 33px;
    line-height: 39px;
    color: $blue;
  }
}

.advantages__img {
  position: absolute;
  bottom: 0;
  right: 0;
  max-width: 1920px;
  width: 50%;
  height: 576px;
  background-color: #fff;
  background-image: url(../img/advantages.jpg);
}

.advantages__label {
  position: absolute;
  top: 350px;
  left: -90px;
  width: 277px;
  height: 160px;
  padding-top: 20px;
  background-color: $blue;
  color: #fff;
  font-weight: 900;
  font-size: 30px;
  text-align: center;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.25);
  border-radius: 7.5px;
  span {
    letter-spacing: 0.08em;
    font-weight: 900;
    font-size: 42px;
  }
}

.reviews {

}

.contacts {
  position: relative;
  height: 730px;
}

.contacts-map {
  position: absolute;
  left: 0;
  max-width: 1385px;
  width: 100%;
  height: 514px;
  background: #fff;
  border-top-right-radius: 16px;
  border-bottom-right-radius: 16px;
  box-shadow: 0 3px 5px rgba(64, 64, 64, 0.5);
}

.contacts-info {
  position: absolute;
  bottom: 167px;
  right: 0;
  width: 790px;
  height: 307px;
  padding-top: 40px;
  padding-left: 40px;
  background: #fff;
  border-top-left-radius: 16px;
  border-bottom-left-radius: 16px;
  box-shadow: 0 3px 5px rgba(64, 64, 64, 0.5);
}
.contacts-info__adress {

}

.contacts-info__numbers {
  margin-top: 23px;
}

.contacts-info__timework {
  margin-top: 13px;
}

.contacts-info__title {
  font-weight: bold;
  color: $blue;
}

.contacts-info__subtitle {
  margin-top: 11px;
}

.footer {
  margin-top: 150px;
  height: 200px;
  background-color: $black;
}